<!-- NAVBAR -->
<div class="body">
  <nav class="navbar navbar-expand navbar-light navbar-fixed-top">
    <div class="nav-brand col-lg-1">
      <a class="navbar-brand" href="#first">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/390486-200.png" class="img-fluid" />
      </a>
    </div>
    <div class="nav navbar-nav offset-9 mb-4">
      <a class="nav-item nav-link mr-5" href="#">THE GAME</a>
      <a class="nav-item nav-link" href="#">THE CREW</a>
    </div>
  </nav>

  <hr>

  <!-- TITLE -->
  <div class="container-fluid title">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center mt-5">
        <h1>THE</h1>
      </div>
      <div class="col-lg-12 d-flex justify-content-center">
        <h1>TIC TAC TOE</h1>
      </div>
      <div class="col-lg-12 d-flex justify-content-center">
        <h1 class="otherTitle">CHALLENGE</h1>
      </div>
    </div>
  </div>

  <!-- CONTENT FORM -->
  <div class="container-fluid contentForm">
    <div class="row d-flex justify-content-center mt-5">
      <div class="form-group col-lg-3">
        <input type="email" name="" id="inputEmail" class="form-control" placeholder="adresse mail">
        <input type="password" name="" id="inputPassword" class="form-control mt-3" placeholder="Mot de passe">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <h4>OR</h4>
      </div>
      <hr class="underForm">
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4  d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-block btn-outline-secondary">
          <i class="fa fa-google"></i> Sign in with Google</button>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="container-fluid footer">
    <div class="row d-flex justify-content-end">
      <div class="col-lg-1">
        <i class="fa fa-twitter fa-2x"></i>
      </div>
      <div class="col-lg-1">
        <i class="fa fa-google fa-2x"></i>
      </div>
      <div class="col-lg-1">
        <i class="fa fa-facebook fa-2x"></i>
      </div>
    </div>
  </div>
</div>