<!-- NAVBAR -->
<div class="body">
  <nav class="navbar navbar-expand navbar-light navbar-fixed-top">
    <div class="nav-brand col-md-1">
      <a class="navbar-brand" routerLink="/login">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/390486-200.png" class="img-fluid" />
      </a>
    </div>
    <div class="nav navbar-nav offset-8">
      <a class="nav-item nav-link mr-5" routerLink="/crew">THE CREW</a>
    </div>
  </nav>

  <hr>

  <!-- TITLE -->
  <div class="container title">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center mt-5">
        <h1>THE</h1>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <h1>TIC TAC TOE</h1>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <h1 class="otherTitle">CHALLENGE</h1>
      </div>
    </div>
  </div>

  <!-- CONTENT FORM -->
  <div class="container contentForm">
    <div class="row d-flex justify-content-center mt-5">
      <div class="form-group col-md-4">
        <input type="email" name="" id="inputEmail" class="form-control" placeholder="adresse mail">
        <input type="password" name="" id="inputPassword" class="form-control mt-3" placeholder="Mot de passe">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4>OR</h4>
      </div>
      <hr class="underForm">
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <div *ngIf="authService.authState | async as user; else showLogin">
            <button type="button" class="btn btn-block" (click)="logOut()">Log out</button>
        </div>
        <ng-template #showLogin >
          <button type="button" class="btn btn-block" (click)="logIn()">
              <i class="fa fa-google"></i> Log in with google</button>
        </ng-template>
      </div>
    </div>

  </div>
</div>
