<section>
  <div></div>
  <!-- add navbar formatting-->

  <div class="container pagescoringtitle">
    <div class="row PSrow">
      <div class="col-md-12 PStitle">
        <h1 class="scoreboard">Score Board</h1>
      </div>
    </div>
  </div>

  <div class="container meetthechampions">
    <div class="row championstitle">
      <div class="col-md-4">
        <h2 class="mtctitle">Meet the Champions ...</h2>
      </div>
    </div>
  </div>

  <table class="table champions">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Username</th>
        <th scope="col"># wins</th>
        <th scope="col"># games played</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td class="champs">variable1</td>
        <td class="champs">var1-wins</td>
        <td class="champs">var1-gamesplayed</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td class="champs">variable2</td>
        <td class="champs">var2-wins</td>
        <td class="champs">var2-gamesplayed</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td class="champs">variable3</td>
        <td class="champs">var3-wins</td>
        <td class="champs">var3-gamesplayed</td>
      </tr>
    </tbody>
  </table>

  <!-- put search bar here -->

  <p>Enter your username - Find your ranking</p>
